.hoverable1:hover{
    color: #263144;
}

.hoverable2:hover{
    color: #0f1f3b;
}

.hoverable3:hover{
    color: #013801;
}

.hoverable4:hover{
    color: #bad3ff;
}

.hoverable5:hover{
    color: #acd8ae;
}

.hoverable6:hover{
    color: #2c446f;
}